* {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html {
	font-size: 62.5%;
}

body {
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
}

div ul {
    list-style: none;
}

div a {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

div#bookmarks {
    background-color: #f4f4f4;
    border-bottom: 1px solid #d5d5d6;
    padding: 0px 0.7rem;
    position: relative;
}

div#bookmarks > ul {
    margin-right: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div#bookmarks ul a  {
    cursor: default;
}

div#bookmarks ul li {
    background-image: url(../images/default_favicon.png);
    background-repeat: no-repeat;
    font-size: 1.1rem;
    transition: background-color .12s linear, border .12s linear;
}

div#bookmarks ul li.empty {
    background-image: none;
    opacity: 0.8;
}

div#bookmarks ul li.group {
    background-image: url(../images/bookmark_bar_folder.png);
}

div#bookmarks ul.osx li.group {
    background-image: url(../images/bookmark_bar_folder_osx.png);
}

div#bookmarks ul > li, 
div#bookmarks ul > a > li {
    background-position: 5px 3px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: inline-block;
    margin: 0.7rem 0.3rem;
    padding: 0.5rem 0.7rem 0.5rem 2.8rem;
}

div#bookmarks ul > li.other,
div#bookmarks ul > a > li.other {
    position: absolute;
    right: 0.5rem;
}

div#bookmarks ul > li:hover, 
div#bookmarks ul > a > li:hover {
    background-color: #e9e8e7;
    border: 1px solid #bdbcbd;
    transition: background-color .12s linear, border .12s linear;
}

div#bookmarks ul > li h3, 
div#bookmarks ul > a > li h3, 
div#bookmarks ul > li h4, 
div#bookmarks ul > a > li h4 {
    cursor: default;
    font-size: 1.1rem;
    font-weight: normal;
}

div#bookmarks ul.folder > div {
    background-color: #f4f4f4;
    border: 1px solid #bdbcbd;
    box-shadow: 0 0.5rem 10rem 0.1rem rgba(0,0,0,0.4);
    display: none;
    margin-left: -3.0rem;
    margin-top: 0.5rem;
    position: absolute;
    visibility: hidden;
    z-index: 10;
}

div#bookmarks li.clicked > ul.folder > div {
    display: block;
    visibility: visible;
}

div#bookmarks ul.folder > div > li, 
div#bookmarks ul.folder > div > a > li {
    background-position: 0.5rem 0.3rem;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    margin: 0.1rem 0.3rem;
    padding: 0.5rem 2.5rem 0.5rem 2.8rem;
}

div#bookmarks ul.folder > div > li:hover, 
div#bookmarks ul.folder > div > a > li:hover {
    background-color: #e9e8e7;
    border: 1px solid #bdbcbd;
    transition: background-color .12s linear, border .12s linear;
}

div#bookmarks ul.folder > div > li h4, 
div#bookmarks ul.folder > div > a > li h4 {
    padding-right: 0.5rem;
}

div#bookmarks ul.folder > div > li h3:after, 
div#bookmarks ul.folder > div > a > li h3:after {
    content: "\25BA";
    position: absolute;
    right: 1.0rem;
}

div#bookmarks ul.folder > div > li.clicked > ul.folder > div, 
div#bookmarks ul.folder > div > a > li.clicked > ul.folder > div {
    margin-top: -2.0rem;
}

div#thumbnails {
    bottom: 5rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 5rem;
    width: 80%;
}

div#thumbnails:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-left: -0.25rem;
    vertical-align: middle;
}

div#thumbnails ul {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

div#thumbnails li {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1.0rem;
    text-align: center;
    width: 25%;
}

div#thumbnails li img.thumb {
    background-image: linear-gradient(to bottom, #EBEBEB 0%, #A1A1A1 100%);
    border: 1px solid #bdbcbd;
    border-radius: 3px;
    width: 85%;
}

div#thumbnails li h3 {
    font-weight: normal;
    margin: 1.0rem auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

div#thumbnails li h3 img.favicon {
    margin-bottom: -0.3rem;
    margin-right: 1.0rem;
}